*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
       
    }
      


:root{
    --main-background:#082f49;
    --text-color:#e0f2fe;
    --nav-background:#0e7490;

}

body{
    background: var(--main-background);
    color:var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;

}

nav{
    background: var(--nav-background);
}